$primary-color: #7272D8;
$medium-color: #9999E9;
$light-color: #C8C8F7;
$background-color: #FAFAFF;
$error-color: #BF3131;
$mobile-width: 992px;

body {
    background-color: $background-color;
}

nav {
    color: $primary-color;
    background-color: $primary-color;
}

.nav-wrapper > ul > li {
    color: $primary-color;
    background-color: $primary-color;
}

.custom {
    background-color: $primary-color;
}

.custom-text {
    color: $primary-color;
}

.collection .collection-item.active {
    background-color: #ffffff;
    color: #000000;
}

.field-validation-error{
    color: $error-color;
}

.progress {
  background-color: $light-color;
}

.progress .determinate {
  background-color: $primary-color;
}

.progress .indeterminate {
  background-color: $primary-color;
}

.btn {
  &:hover {
    background-color: $medium-color;
  }
}

.btn-floating {
  &:hover {
    background-color: $medium-color;
  }
}

.static {
    position: static !important;
}

.spinner-layer {
   border-color: $primary-color;
}

.progress {
   background-color: $medium-color;
   .indeterminate {
     background-color: $light-color;
   }
}

.md-input-validation {
    left: 0;
    color: #f44336;
    font-size: 0.8rem;
    transition: opacity .2s ease-out;
    margin-top: -4px;
    margin-bottom: 0;
}

.back-btn {
    width: 40px;
}

#loader {
    position: absolute;
    top: -6px;
    width: 100%;
}

@media screen and (max-width: $mobile-width) {
    .btn:not(.btn-floating) {
        width: 100%;
    }
}

@media screen and (max-height: 700px) {
    #map {
        height: 300px;
    }
}

// ------------------------------------------------------------------------
// Custom styling starts here.

@mixin border-radius {
  border-radius: 10px;
}

@mixin placeholder {
  ::-webkit-input-placeholder { @content };
  ::-moz-placeholder          { @content }; /* firefox 19+ */
  :-ms-input-placeholder      { @content }; /* ie */
  input:-moz-placeholder      { @content };
}

@mixin absolute-center-parent-fix {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin absolute-center {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

html, body {
  height: 100%;
}

main {
  min-height: 100%;
  background-size: cover;
}

.w-button {
  @include border-radius;
  background-color: #ff50b3;

  &:hover {
    background-color: #ff3093;
  }

  &.w-button-red {
    background-color: orangered;
  }
}

.w-logo {
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
  background-image: radial-gradient(ellipse farthest-corner at 50% 50%, rgba(220,220,220,0.6) 0%, rgba(220,220,220,0.4) 10%, rgba(220,220,220,0.2) 25%, transparent 50%);
}
.w-logo img {
  width: 75px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.w-action-pane {
  width: 480px;
  text-align: center;
  color: white;

  h1 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  $ui-item-min-width: 300px;

  .w-button {
    min-width: $ui-item-min-width;
  }

  .w-button-row {
    margin-top: 20px;

    .w-button {
      min-width: auto;
      width: auto;

      & + .w-button {
        margin-left: 10px;
      }

      & + .w-link {
        margin-left: 20px;
        font-size: 15px;
        display: inline-block;
        font-weight: bold;
        color: white;
        text-decoration: underline;
      }
    }
  }

  @include placeholder {
    color: gray;
  }

  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea.materialize-textarea {
    @include border-radius;
    background-color: black;
    color: white;
    padding: 5px 12px;
    margin-bottom: 5px;
    width: 400px;
  }
}

main.w-setting-sun-layout {
  @include absolute-center-parent-fix;
  background-image: radial-gradient(
                      ellipse farthest-corner at 45% 90%,
                      rgba(71, 15, 93, 0.33) 0%,
                      rgba(40, 31, 44, 0.33) 100%
                    ),
                    url(assets/images/backgrounds/wolf.jpg);

  .w-setting-sun {
    @include absolute-center;
    background: repeating-linear-gradient(
      180deg,
      rgba(55, 32, 63, 0.7),
      rgba(206, 8, 61, 0.7) 71.88%,
      transparent 71.88%,
      transparent 72.5%,
      rgba(209, 7, 61, 0.7) 72.5%,
      rgba(214, 7, 61, 0.7) 75%,
      transparent 75%,
      transparent 75.94%,
      rgba(216, 6, 61, 0.7) 75.94%,
      rgba(221, 6, 60, 0.7) 78.13%,
      transparent 78.13%,
      transparent 79.38%,
      rgba(224, 5, 60, 0.7) 79.38%,
      rgba(226, 5, 60, 0.7) 81.25%,
      transparent 81.25%,
      transparent 82.81%,
      rgba(230, 4, 60, 0.7) 82.81%,
      rgba(232, 4, 60, 0.7) 84.38%,
      transparent 84.38%,
      transparent 86.25%,
      rgba(236, 3, 60, 0.7) 86.25%,
      rgba(238, 3, 60, 0.7) 87.5%,
      transparent 87.5%,
      transparent 89.69%,
      rgba(242, 2, 60, 0.7) 89.69%,
      rgba(243, 1, 60, 0.7) 90.63%,
      transparent 90.63%,
      transparent 93.13%,
      rgba(247, 1, 61, 0.7) 93.13%,
      rgba(248, 1, 60, 0.7) 93.75%,
      transparent 93.75%,
      transparent 96.56%,
      rgba(252, 1, 60, 0.7) 96.56%,
      rgba(252, 1, 60, 0.7) 97%,
      transparent 97%,
      transparent 100%
    );
    width: 640px;
    height: 640px;
    border-radius: 320px;

    .w-setting-sun-content-wrapper {
      @include absolute-center-parent-fix;
      margin-top: 20px;
      height: 480px;
      position: relative;

      .w-setting-sun-content {
        @include absolute-center;
      }
    }

  }
}
