$primary-color: #7272D8;
$medium-color: #9999E9;
$light-color: #C8C8F7;
$background-color: #FAFAFF;
$error-color: #BF3131;

body {
    background-color: $background-color;
}

nav {
    color: $primary-color;
    background-color: $primary-color;
}

.nav-wrapper > ul > li {
    color: $primary-color;
    background-color: $primary-color;
}

.custom {
    background-color: $primary-color;
}

.custom-text {
    color: $primary-color;
}

.collection .collection-item.active {
    background-color: #ffffff;
    color: #000000;
}

.field-validation-error{
    color: $error-color;
}

.progress {
  background-color: $light-color;
}

.progress .determinate {
  background-color: $primary-color;
}

.progress .indeterminate {
  background-color: $primary-color;
}

.btn {
  &:hover {
    background-color: $medium-color;
  }
}

.btn-floating {
  &:hover {
    background-color: $medium-color;
  }
}