$primary-color: #7272D8;
$medium-color: #9999E9;
$light-color: #C8C8F7;
$background-color: #FAFAFF;
$error-color: #BF3131;
$mobile-width: 992px;

body {
    background-color: $background-color;
}

nav {
    color: $primary-color;
    background-color: $primary-color;
}

.nav-wrapper > ul > li {
    color: $primary-color;
    background-color: $primary-color;
}

.custom {
    background-color: $primary-color;
}

.custom-text {
    color: $primary-color;
}

.collection .collection-item.active {
    background-color: #ffffff;
    color: #000000;
}

.field-validation-error{
    color: $error-color;
}

.progress {
  background-color: $light-color;
}

.progress .determinate {
  background-color: $primary-color;
}

.progress .indeterminate {
  background-color: $primary-color;
}

.btn {
  &:hover {
    background-color: $medium-color;
  }
}

.btn-floating {
  &:hover {
    background-color: $medium-color;
  }
}

.static {
    position: static !important;
}

.spinner-layer {
   border-color: $primary-color;
}

.progress {
   background-color: $medium-color;
   .indeterminate {
     background-color: $light-color;
   }
}

.md-input-validation {
    left: 0;
    color: #f44336;
    font-size: 0.8rem;
    transition: opacity .2s ease-out;
    margin-top: -4px;
    margin-bottom: 0;
}

.back-btn {
    width: 40px;
}

#loader {
    position: absolute;
    top: -6px;
    width: 100%;
}

@media screen and (max-width: $mobile-width) {
    .btn:not(.btn-floating) {
        width: 100%;
    }
}

@media screen and (max-height: 700px) {
    #map {
        height: 300px;
    }
}

// ------------------------------------------------------------------------
// Custom styling starts here.

@import 'variables';
@import 'mixins';

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: 100%;
  background-size: cover;
}

.w-button {
  @mixin w-button-background($color) {
    background-color: $color;

    &:hover {
      background-color: darken($color, 5%);
    }
  }

  @include border-radius;
  @include w-button-background($color-pink);
  border: 0;

  &.w-button-red   { @include w-button-background($color-red);   }
  &.w-button-green { @include w-button-background($color-green); }
  &.w-button-blue  { @include w-button-background($color-blue);  }
}

.w-logo {
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
  background-image: radial-gradient(ellipse farthest-corner at 50% 50%, rgba(220,220,220,0.6) 0%, rgba(220,220,220,0.4) 10%, rgba(220,220,220,0.2) 25%, transparent 50%);
}
.w-logo img {
  width: 75px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.w-action-pane {
  width: 480px;
  text-align: center;
  color: white;

  h1 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .w-button {
    width: 300px;
    box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.5), 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    &:hover {
      box-shadow: none;
    }
  }

  .w-button-row {
    margin-top: 20px;

    .w-button {
      min-width: auto;
      width: auto;

      & + .w-button {
        margin-left: 10px;
      }

      & + .w-link {
        margin-left: 20px;
        font-size: 15px;
        display: inline-block;
        font-weight: bold;
        color: white;
        text-decoration: underline;
      }
    }
  }

  @include placeholder {
    color: gray;
  }

  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea.materialize-textarea {
    $background-color: black;
    $text-color:       white;

    @include border-radius;
    background-color: $background-color;
    color: $text-color;
    padding: 5px 12px;
    margin-bottom: 5px;
    width: 400px;

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $background-color inset !important;
      -webkit-text-fill-color: $text-color !important;
    }

    @mixin border-bottom($color) {
      border-bottom: 1px solid $color;
      box-shadow: 0 1px 0 0 $color;

      &:-webkit-autofill {
        // Compensate the ovewritten 0px box-shadow from the hack above.
        border-bottom: 2px solid $color;
      }
    }

    &.valid                 { @include border-bottom($color-green); }
    &.invalid               { @include border-bottom($color-red);   }
    &:focus:not([readonly]) { @include border-bottom($color-pink);  }
  }

  .md-input-validation {
    color: $color-red;
  }
}

.toast.blue { background-color: $color-blue !important; }
.toast.red  { background-color: $color-red !important;  }
.toast.pink { background-color: $color-pink !important; }

main.w-sunset-layout {
  @include absolute-center-parent-fix;
  background-image: radial-gradient(
                      ellipse farthest-corner at 45% 90%,
                      rgba(71, 15, 93, 0.33) 0%,
                      rgba(40, 31, 44, 0.33) 100%
                    ),
                    url(assets/images/backgrounds/wolf.jpg);

  .w-sunset {
    @include absolute-center;
    @include sunset-background(
      180deg, 69%, 96.5%,
      10, 5, 2.5,
      rgba(55, 32, 63, 0.7), rgba(206, 8, 61, 0.7), 0.7%, 0.1%
    );
    width: 640px;
    height: 640px;
    border-radius: 320px;

    .w-sunset-content-wrapper {
      @include absolute-center-parent-fix;
      margin-top: 20px;
      height: 480px;
      position: relative;

      .w-sunset-content {
        @include absolute-center;
      }
    }

  }
}

main.w-particles-layout {
  @include absolute-center-parent-fix;
  background-image: url(assets/images/backgrounds/particles.jpg);

  .w-action-pane {
    @include absolute-center;
  }
}
