<template>
  <require from="resources/components/logo.html"></require>

  <div class="w-left-pane row w-med-and-down-valign-wrapper">
    <div class="col s12 valign">
      <logo></logo>
    </div>
    <div class="col s12 valign center-align">
      <img src="assets/images/menu.png" class="w-image-menu">
    </div>
    <div class="col s12 valign w-back-button-col">
      <a href="#" class="w-button w-button-mini">
        <span class="w-icon-arrow-left"></span>
        BACK
      </a>
    </div>
  </div>
</template>
